{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Delete Restaurant</h1><hr/>
        <p>Are you sure you want to delete restaurant {{ restaurant.name }} ?</p>
        {{ form_start(myForm) }}
        <input type="submit" value="Delete" class="btn btn-default" />
        {{ form_end(myForm) }}
    </div>

{% endblock %}