{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Rename Restaurant</h1><hr/>
        {{ form_start(restaurantForm) }}
        {{ form_widget(restaurantForm) }}
        <input type="submit" value="Rename" class="btn btn-default" />
        {{ form_end(restaurantForm) }}
    </div>
{% endblock %}