{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>
        Restaurants
        <a class="btn btn-default btn-sm" href="{{ path('new_restaurant') }}">New</a>
    </h1>
    <div>
        <ul class="list-group">
            {%  for restaurant in restaurants %}
                <li class="list-group-item">
                    {{ restaurant.name }}
                    <a class="btn btn-default btn-sm" href="{{ path('edit_restaurant', {'restaurantId': restaurant.getId()}) }}">Edit</a>
                    <a class="btn btn-default btn-sm" href="{{ path('delete_restaurant', {'restaurantId': restaurant.getId()}) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
